.noise {
  position: fixed;
  inset: 0;
  background: url("/frontend/assets/misc/noise.png");
  opacity: 0.05;
  zoom: 150%;
  pointer-events: none;
  z-index: 1002;
  animation: shutter 0.15s steps(2) infinite;
}
@keyframes shutter {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100px 0px;
  }
  50% {
    background-position: 100px 100px;
  }
  75% {
    background-position: 0px 100px;
  }
  100% {
    background-position: 0px 50px;
  }
}


.vignette {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1003;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
}


/* 
.scanlines {
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent var(--scanline-space)
  );
  pointer-events: none;
  z-index: 1001;
  animation: scanline-pan 0.5s steps(10) infinite;
}
@keyframes scanline-pan {
  0% {background-position: 0 0;}
  100% {background-position: 0 calc(var(--scanline-space) + 1px);}
} */
