/*
https://font.download/font/abc-ginto-nord-unlicensed-trial
*/

@import url('effects.css');
@import url('fonts.css');

* {
  letter-spacing: 1px;
  font-family: "Michroma", sans-serif;
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

:root {
  --text-color: 0, 67, 255;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  --scanline-space: 7px;
}

.social-icons img{
    width: 20px;
    color:#0aeeff;
}


body {
  background-color: #000001;
  background-image: url("/frontend/assets/misc/circlespink.gif");
  background-repeat: no-repeat;
  background-position: right;
}

h1{
  --text-color: 255, 255, 00;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

h2{
  --text-color: 255, 100, 00;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

h3{
  --text-color: 5, 255, 200;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

h4{
  --text-color: 280, 67, 123;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

h5{
  --text-color: 255, 50, 255;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}

h6{
  --text-color: 05, 255, 80;
  --outerbloom: rgba(var(--text-color), 0.8);
  --innerbloom: rgba(var(--text-color), 0.9);
  color: rgb(var(--text-color));
  text-shadow:
    0px 0px 20px var(--outerbloom),
    0px 0px 5px var(--innerbloom);
}